extends ../layout

block content
	h1.
		#{title}
	form#formAddBlob(name="addblob",method="post",action="/projects")
		p Naziv:
			input#inputName(type="text", placeholder="Naziv", name="naziv")
		p Opis:
			input#inputBadge(type="text", placeholder="Opis", name="opis")
		p Cijena:
			input#inputDob(type="number", name="cijena")
		p Datum pocetka:
			input#inputDatumPocetka(type='date', name='datumPocetka' )
		P Datum zavrsetka:
			input#inputDatumZavrsetka(type='date', name='datumZavrsetka')
		p Clanovi:
			input#inputClanovi(type='text', name='clanovi' placeholder="CSV unos...")
		p Obavljeni poslovi?:
			input#inputIsLoved(type="checkbox", name="obavljeniPoslovi")
		p
			button#btnSubmit(type="submit") submit